# Enclose jinga2 values in quotes.
plugin: constructed
#strict: no # Set to yes for debugging. Loose falure causes plugin to silently fail.
compose:
    # This one takes about 10 seconds to caclulate:
    oct3: ansible_host | d(inventory_hostname) | regex_replace('^\d{1,3}\.\d{1,3}\.(\d{1,3})\.\d{1,3}$', '\1') | string #| join('') # workaroud over list of str
    # You may use only existing variables, e.g. from a persistent fact cache.
    # `strict: False` will skip this instead of producing an error if it is missing facts.
    #building: SysName | d('_NoName') | regex_replace('^[iI]0-.*_(\d{1,3})$', '\1') | string
    #room: SysName | d('_NoName') | regex_replace('^[iI]0-.*_(\d{1,3}).*\d{1,3}$', '\1') | string
groups: # simple name matching
    # This one takes about 40 seconds to caclulate:
    ASR: MachineType is defined and MachineType.upper().startswith('CISCO ASR')
    ASA: MachineType is defined and MachineType.upper().startswith('CISCO ASA') or Description is defined and Description.upper().startswith('CISCO ADAPTIVE SECURITY APPLIANCE')
    FTD: Description is defined and Description.startswith('Cisco Firepower Threat Defense')
    IOS: Description is defined and Description.upper().startswith('CISCO IOS ') # Incl. 'IOS XE'.
    C9K: Description is defined and Description is search('CAT9K')
    N9K: Description is defined and Description is search('Nexus9000')
    N7K: MachineType is defined and MachineType.upper().startswith('CISCO NEXUS 7000') # Series of
    NXOS: Description is defined and Description.upper().startswith('CISCO NX-OS')
    FPR: Description is defined and Description.upper().startswith('CISCO FX-OS')
    #multi_group: (group_names|intersection(['alpha', 'beta', 'omega']))|length >= 2
keyed_groups: # using the default separator "_"
    - prefix: oct3 # this creates a group per 3-rd octet (oct3_<3-rd_octet>)
      key: oct3
    #- prefix: vendor # no MAC - no Vendor, ToDo: make ``| trim('-_')`` work.
    #  key: "(Vendor if Vendor is defined and Vendor.capitalize() != 'Unknown' else MachineType).split() | first | upper"
    #- prefix: building
    #  key: building
    #- prefix: room
    #  key: room
    #- prefix: sysname
    #  key: SysName
